<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>

<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <div th:if="${exito}" th:text="${exito}" class="alert alert-success" role="alert"></div>

                <div th:if="${usuarios.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                    No existen usuarios registrados
                </div>

                <div th:unless="${usuarios.isEmpty()}" class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="us : ${usuarios}">
                            <td th:text="${us.id}"></td>
                            <td th:text="${us.username}"></td>
                            <td th:text="${us.rol.name}"></td>
                            <td><a class="btn btn-primary" th:href="@{/usuarios/form/__${us.id}__}">Editar Rol</a></td>

                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>


</main>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>