<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>

<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <div th:if="${exito}" th:text="${exito}" class="alert alert-success" role="alert"></div>

                <div th:if="${estados.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                    Debe ingresar clientes <a th:href="@{estadospedidos/form}" class="alert-link">Crear Estado</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:unless="${estados.isEmpty()}" class="table-responsive">
                    <a class="btn btn-primary mb-2" th:href="@{/estadospedidos/form}">Crear Estado</a>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">

                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Accion</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="est : ${estados}">

                            <td th:text="${est.id}"></td>
                            <td th:text="${est.nombre}"></td>
                            <td><a class="btn btn-primary">Editar</a></td>

                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>


</main>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>