body{
    background-image: url("https://st2.depositphotos.com/3562663/5976/i/450/depositphotos_59765221-stock-photo-small-wood-house-model-on.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}